--extra-index-url https://download.pytorch.org/whl/cpu
h5py
matplotlib
numpy < 2.0
pytest >= 9.0
pytest-cov
torch >= 2.0
scipy >= 1.13
scikit-learn
spikeinterface >= 0.101.2
tqdm
pandas
linear_operator
numba
pydantic
