name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:

  build:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: dartsort
      
      - name: Git Describe
        run: pushd dartsort/ && git describe --tags && popd

      - name: Get DREDge
        uses: actions/checkout@v4
        with:
          repository: evarol/dredge
          path: dredge

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip' # caching pip dependencies
          
      - name: Install dependencies
        run: |
          python -m pip install -U pip  # seems necessary to make sure pip is my pip
          pip install --extra-index-url https://download.pytorch.org/whl/cpu torch
          pip install dredge/
          pip install -e dartsort/[full]

      - name: pytest
        run: |
          pytest --cache-clear --log-level=15 --durations=100 --cov=dartsort/src/dartsort  --cov-config=dartsort/pyproject.toml --cov-report lcov --cov-report term dartsort/tests/

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: coverage.lcov
