name: CI (Windows)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  build:
    runs-on: "windows-latest"
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: dartsort
      
      - name: Fetch tags and describe
        run: pushd dartsort/ && git fetch --prune --unshallow --tags && git describe && popd

      - name: Get DREDge
        uses: actions/checkout@v4
        with:
          repository: evarol/dredge
          path: dredge

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip' # caching pip dependencies
          
      - name: Install dependencies
        run: |
          python -m pip install -U pip  # seems necessary to make sure pip is my pip
          pip install --extra-index-url https://download.pytorch.org/whl/cpu torch
          pip install dredge/
          pip install -e dartsort/[full]

      - name: pytest
        run: |
          PYTHONFAULTHANDLER=1 pytest  --cache-clear --maxfail=30 --log-level=15 dartsort/tests/
